<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2014 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="org.chromium.system.cpu"
    version="1.0.1-dev">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>Chrome System CPU API</name>

  <platform name="android">
    <js-module src="system.cpu.js" name="system.cpu">
      <clobbers target="chrome.system.cpu" />
    </js-module>
    <source-file src="src/android/ChromeSystemCpu.java" target-dir="src/org/chromium" />

    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="ChromeSystemCpu">
        <param name="android-package" value="org.chromium.ChromeSystemCpu"/>
      </feature>
    </config-file>
  </platform>
</plugin>
