<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="chrome.socket"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=2.4.0" />
  </engines>

  <name>Chrome Apps Socket API</name>

  <js-module src="socket.js" name="Socket">
    <clobbers target="chrome.socket" />
  </js-module>

  <platform name="android">
    <source-file src="ChromeSocket.java" target-dir="src/org/apache/cordova" />

    <config-file target="res/xml/config.xml" parent="/cordova/plugins">
      <plugin name="ChromeSocket" value="org.apache.cordova.ChromeSocket" />
    </config-file>
  </platform>

  <platform name="ios">
    <framework src="Security.framework" />
    <source-file src="ChromeSocket.m" />
    <header-file src="ChromeSocket.h" />

    <source-file src="third_party/GCDAsyncSocket.m" />
    <header-file src="third_party/GCDAsyncSocket.h" />
    <source-file src="third_party/GCDAsyncUdpSocket.m" />
    <header-file src="third_party/GCDAsyncUdpSocket.h" />

    <config-file target="config.xml" parent="/widget/plugins">
      <plugin name="ChromeSocket" value="ChromeSocket" />
    </config-file>
  </platform>
</plugin>
