<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="org.chromium.filechooser"
    version="1.0.1">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>File Chooser</name>

  <js-module src="fileChooser.js" name="FileChooser">
  </js-module>

  <platform name="android">
    <source-file src="src/android/FileChooser.java" target-dir="src/org/chromium" />

    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="FileChooser">
        <param name="android-package" value="org.chromium.FileChooser"/>
      </feature>
    </config-file>
  </platform>
</plugin>
