<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="org.chromium.power"
    version="1.0.3">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>Chrome Apps Power API</name>
  <keywords>chrome,power</keywords>
  <repo>https://github.com/MobileChromeApps/mobile-chrome-apps.git</repo>
  <issue>https://github.com/MobileChromeApps/mobile-chrome-apps/issues</issue>

  <js-module src="power.js" name="power">
    <clobbers target="chrome.power" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/ChromePower.java" target-dir="src/org/chromium" />

    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="ChromePower">
        <param name="android-package" value="org.chromium.ChromePower"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.WAKE_LOCK" />
    </config-file>
  </platform>

  <platform name="ios">
     <source-file src="src/ios/ChromePower.m" />
     <header-file src="src/ios/ChromePower.h" />

     <config-file target="config.xml" parent="/widget">
       <feature name="ChromePower">
         <param name="ios-package" value="ChromePower"/>
       </feature>
     </config-file>
  </platform>
</plugin>
