<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2014 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="org.chromium.sockets.udp"
    version="1.0.0-dev">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>Chrome Apps Sockets UDP API</name>
  <keywords>chrome,socket,sockets,udp</keywords>
  <repo>https://github.com/MobileChromeApps/mobile-chrome-apps.git</repo>
  <issue>https://github.com/MobileChromeApps/mobile-chrome-apps/issues</issue>

  <dependency id="org.chromium.common" />
  <dependency id="org.chromium.iosSocketsCommon" />

  <js-module src="sockets.udp.js" name="sockets.udp">
    <clobbers target="chrome.sockets.udp" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/ChromeSocketsUdp.java" target-dir="src/org/chromium" />

    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="ChromeSocketsUdp">
        <param name="android-package" value="org.chromium.ChromeSocketsUdp"/>
      </feature>
    </config-file>
  </platform>

  <platform name="ios">
    <source-file src="src/ios/ChromeSocketsUdp.m" />
    <header-file src="src/ios/ChromeSocketsUdp.h" />

    <config-file target="config.xml" parent="/widget">
      <feature name="ChromeSocketsUdp">
        <param name="ios-package" value="ChromeSocketsUdp"/>
      </feature>
    </config-file>
  </platform>
</plugin>
