<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
-- REVIEW: ununsed namespace --
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.chromium.polyfill.xhr_blob"
    version="1.0.0">
  <engines>
<!--REVIEW: cargo cult? Why 2.4? -->
    <engine name="cordova" version=">=2.4.0" />
  </engines>

  <name>XHR blob returnType shim</name>

  <platform name="ios">
    <js-module src="blobXHR.js" name="xhr-blob">
      <merges target="window" />
    </js-module>
  </platform>
</plugin>
