<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cc.fovea.plugins.inapppurchase"
    version="3.1.0">

    <name>InAppPurchase</name>
	<description>In app purchase support for iOS</description>
    <engines>
        <engine name="cordova" version=">=2.4.0" />
    </engines>
	
    <js-module src="InAppPurchase.js" name="InAppPurchase">
        <clobbers target="storekit" />
    </js-module>
	<license>MIT</license>
    <!-- ios -->
    <platform name="ios">
        <!-- Cordova 2.2 -->
        <plugins-plist key="InAppPurchase" string="InAppPurchase" />
                    
        <!-- Cordova 2.5+ -->
        <config-file target="config.xml" parent="/*">
            <feature name="InAppPurchase">
                <param name="ios-package" value="InAppPurchase"/>
            </feature>
        </config-file>

        <header-file src="src/ios/InAppPurchase.h" />
        <source-file src="src/ios/InAppPurchase.m" />
        <header-file src="src/ios/SKProduct+LocalizedPrice.h" />
        <source-file src="src/ios/SKProduct+LocalizedPrice.m" />

        <framework src="StoreKit.framework" />
    </platform>
</plugin>
