<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
-- REVIEW: ununsed namespace --
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.chromium.chrome.syncFileSystem"
    version="1.0.0">
  <engines>
<!--REVIEW: cargo cult? Why 2.4? -->
    <engine name="cordova" version=">=2.4.0" />
  </engines>

  <name>Chrome Apps SyncFileSystem API</name>

  <js-module src="syncFileSystem.js" name="SyncFileSystem">
    <clobbers target="chrome.syncFileSystem" />
  </js-module>

<!--REVIEW: Are these required? How many more platforms might we need? -->
  <!-- Empty platforms; this is a JS-only plugin. -->
  <platform name="android"></platform>
  <platform name="ios"></platform>
  <platform name="bb"></platform>
</plugin>
