<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.chromium.pushmessaging"
    version="1.0.3-dev">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>Chrome Apps Push Messaging API</name>
  <keywords>chrome,push,message,messaging</keywords>
  <repo>https://github.com/MobileChromeApps/mobile-chrome-apps.git</repo>
  <issue>https://github.com/MobileChromeApps/mobile-chrome-apps/issues</issue>

  <dependency id="org.chromium.common" />
  <dependency id="org.chromium.identity" />

  <js-module src="pushMessaging.js" name="pushMessaging">
    <clobbers target="chrome.pushMessaging" />
  </js-module>

  <name>Chrome Apps Push Messaging API</name>

  <platform name="android">
    <source-file src="src/android/ChromePushMessaging.java" target-dir="src/org/chromium" />
    <source-file src="src/android/PushMessageReceiver.java" target-dir="src/org/chromium" />

    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="ChromePushMessaging">
        <param name="android-package" value="org.chromium.ChromePushMessaging"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <receiver android:name="org.chromium.PushMessageReceiver" android:permission="com.google.android.c2dm.permission.SEND">
        <intent-filter>
          <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        </intent-filter>
      </receiver>
    </config-file>
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="ChromePushMessaging">
        <param name="ios-package" value="ChromePushMessaging"/>
      </feature>
    </config-file>

    <source-file src="src/ios/AppDelegate+notification.m"/>
    <source-file src="src/ios/ChromePushMessaging.m"/>
    <header-file src="src/ios/AppDelegate+notification.h"/>
    <header-file src="src/ios/ChromePushMessaging.h"/>
  </platform>

</plugin>
