
html, body {
  overflow: visible;
  font-family: sans-serif;
}

pre, form, h1 {
  margin: 0;
}

body {
  background: #000;
  color: #ccc;
  word-break: break-word;
}

h1 {
  font-size: 15pt;
  text-shadow: 2px 2px #555;
  text-align: center;
}

h2 {
  font-size: 14pt;
  border-bottom: 1px solid;
}

#btns {
  text-align: center;
}

#logs {
  word-break: break-word;
}

.btn {
  border: 1px solid #555;
  -webkit-border-radius: 5px;
  text-align: center;
  display: inline-block;
  background: #444;
  min-width: 150px;
  font-size: 10pt;
  padding: 6px 10px;
  margin: 6px;
  cursor: pointer;
}

.btn:active {
  background: #222;
}

.btn:focus {
  border-color: yellow;
  outline: none;
}

.right-btn {
 float: right;
 min-width: 75px;
}

.jasmine_reporter {
  background: #eee;
  padding-bottom: 4px;
}

