<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="chrome"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=2.4.0" />
  </engines>

  <name>Chrome Apps Core</name>

  <!-- Javascript modules. Note that some module names differ from the chrome API locations -->
  <js-module src="app/runtime.js" name="app.runtime">
    <clobbers target="chrome.app.runtime" />
  </js-module>

  <js-module src="app/window.js" name="app.window">
    <clobbers target="chrome.app.runtime" />
  </js-module>

  <js-module src="helpers/stubs.js" name="helpers.stubs">
  </js-module>

  <js-module src="mobile.js" name="mobile.impl">
    <clobbers target="chrome.mobile" />
  </js-module>

  <js-module src="runtime.js" name="runtime">
    <clobbers target="chrome.runtime" />
  </js-module>

  <!-- Integration files -->
  <asset src="www/chromeapp.html" target="chromeapp.html" />
  <asset src="www/chromebgpage.html" target="chromebgpage.html" />
  <asset src="www/chromeappstyles.css" target="chromeappstyles.css" />

  <!-- Empty platforms; this is a JS-only plugin. -->
  <platform name="android"></platform>
  <platform name="ios"></platform>
</plugin>
