<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="org.chromium.polyfill.CustomEvent"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>CustomEvent constuctor shim</name>

  <platform name="android">
    <js-module src="customEvent.js" name="customEvent">
      <merges target="window" />
    </js-module>
  </platform>
</plugin>
