<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:cdv = "http://cordova.apache.org/ns/1.0"
        id        = "__APP_PACKAGE_ID__"
        version   = "__APP_VERSION__">
    <name>__APP_NAME__</name>

    <description>
        __DESCRIPTION__
    </description>

    <author>
        __AUTHOR__
    </author>

    <preference name="KeyboardShrinksView" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />

    <content src="plugins/cordova-plugin-chrome-apps-bootstrap/chromeapp.html" />
</widget>
