<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="chrome.i18n"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=2.4.0" />
  </engines>

  <name>Chrome Apps I18n API</name>

  <js-module src="i18n.js" name="I18n">
    <clobbers target="chrome.i18n" />
  </js-module>

  <platform name="android">
    <source-file src="ChromeI18n.java" target-dir="src/org/apache/cordova" />

    <config-file target="res/xml/config.xml" parent="/cordova/plugins">
      <plugin name="ChromeI18n" value="org.apache.cordova.I18n" onload="true" />
    </config-file>
  </platform>

  <platform name="ios">
    <source-file src="ChromeI18n.m" />
    <header-file src="ChromeI18n.h" />

    <config-file target="config.xml" parent="/widget/plugins">
      <plugin name="ChromeI18n" value="ChromeI18n" />
    </config-file>
  </platform>
</plugin>
