<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.chromium.directoryFinder"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=2.4.0" />
  </engines>

  <name>Directory Retriever</name>

  <js-module src="directoryFinder.js" name="DirectoryFinder">
    <merges target="cordova.file" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/DirectoryFinder.java" target-dir="src/com/google/cordova" />

    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="DirectoryFinder">
        <param name="android-package" value="com.google.cordova.DirectoryFinder"/>
      </feature>
    </config-file>
  </platform>

  <platform name="ios">
    <source-file src="src/ios/DirectoryFinder.m" />
    <header-file src="src/ios/DirectoryFinder.h" />

    <config-file target="config.xml" parent="/widget">
      <feature name="DirectoryFinder">
        <param name="ios-package" value="DirectoryFinder"/>
      </feature>
    </config-file>
  </platform>
</plugin>
