*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#title {
  position: fixed;
  height: 30px;
  width: 100%;
  top: 0;
  z-index: 1000;

  background-color: #58b;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

#content {
  position: absolute;
  top: 30px;
  bottom: 150px;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

#log {
  position: fixed;
  height: 150px;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: white;
  border-top: 2px solid #777;
  white-space: pre;
}

#log > div {
  border-bottom: 1px solid #ccc;
}
