<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="org.chromium.common"
    version="1.0.1">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>Chrome Apps Common Utils</name>

  <js-module src="events.js" name="events">
    <clobbers target="chrome.Event" />
  </js-module>
  <js-module src="errors.js" name="errors" />
  <js-module src="stubs.js" name="stubs" />
  <js-module src="helpers.js" name="helpers" />
</plugin>
