<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="chrome"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=2.4.0" />
  </engines>

  <name>Chrome Apps Core</name>

  <!-- Javascript modules. Note that some module names differ from the chrome API locations -->
  <js-module src="api/bootstrap.js" name="bootstrap">
    <runs />
  </js-module>

  <js-module src="api/app/runtime.js" name="app.runtime">
    <clobbers target="chrome.app.runtime" />
  </js-module>

  <js-module src="api/app/window.js" name="app.window">
    <clobbers target="chrome.app.window" />
  </js-module>

  <js-module src="api/helpers/stubs.js" name="helpers.stubs">
  </js-module>

  <js-module src="api/mobile.js" name="mobile.impl">
    <clobbers target="chrome.mobile.impl" />
  </js-module>

  <js-module src="api/runtime.js" name="runtime">
    <clobbers target="chrome.runtime" />
  </js-module>

  <!-- Integration files -->
  <asset src="www/chromeapp.html" target="chromeapp.html" />
  <asset src="www/chromebgpage.html" target="chromebgpage.html" />
  <asset src="www/chromeappstyles.css" target="chromeappstyles.css" />

  <!-- Convert 'chrome-extension://' urls -->
  <platform name="android">
    <source-file src="ChromeExtensionURLs.java" target-dir="src/org/apache/cordova" />
    <config-file target="res/xml/config.xml" parent="/cordova/plugins">
      <plugin name="ChromeExtensionURLs" value="org.apache.cordova.ChromeExtensionURLs" />
    </config-file>
    <config-file target="res/xml/config.xml" parent="/cordova">
      <url-filter value="chrome-extension://" />
    </config-file>
  </platform>
  <platform name="ios"></platform>
</plugin>
