<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="org.chromium.chrome.notifications"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>Chrome Apps Notifications API</name>

  <dependency id="chrome.common" url="." subdir="plugins/chrome-common" />
  <dependency id="chrome.runtime" url="." subdir="plugins/chrome-runtime" />
  <dependency id="chrome.storage" url="." subdir="plugins/chrome.storage" />

  <js-module src="notifications.js" name="notifications">
    <clobbers target="chrome.notifications" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/ChromeNotifications.java" target-dir="src/com/google/cordova" />
    <source-file src="src/android/NotificationReceiver.java" target-dir="src/com/google/cordova" />

    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="ChromeNotifications">
        <param name="android-package" value="com.google.cordova.ChromeNotifications"/>
        <param name="onload" value="true" />
      </feature>
    </config-file> 
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <receiver android:name="com.google.cordova.NotificationReceiver" />
    </config-file>
  </platform>
</plugin>
