<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2014 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="org.chromium.audiocapture"
    version="1.0.2-dev">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>Chrome AudioCapture API</name>

  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
    </config-file>
  </platform>
</plugin>
