<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2013 The Chromium Authors. All rights reserved.
  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.chromium.chrome-app-bootstrap"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=2.4.0" />
  </engines>

  <name>Chrome Apps Core</name>

  <dependency id="chrome.common" url="." subdir="plugins/chrome-common" />

  <!-- Javascript modules. Note that some module names differ from the chrome API locations -->
  <js-module src="api/bootstrap.js" name="bootstrap">
    <runs />
  </js-module>

  <js-module src="api/app/runtime.js" name="app.runtime">
    <clobbers target="chrome.app.runtime" />
  </js-module>

  <js-module src="api/app/window.js" name="app.window">
    <clobbers target="chrome.app.window" />
  </js-module>

  <js-module src="api/helpers/stubs.js" name="helpers.stubs">
  </js-module>

  <js-module src="api/mobile.js" name="mobile.impl">
    <clobbers target="chrome.mobile.impl" />
  </js-module>

  <js-module src="api/runtime.js" name="runtime">
    <clobbers target="chrome.runtime" />
  </js-module>

  <!-- Integration files -->
  <asset src="www/chromeapp.html" target="chromeapp.html" />
  <asset src="www/chromebgpage.html" target="chromebgpage.html" />
  <asset src="www/chromeappstyles.css" target="chromeappstyles.css" />

  <!-- Convert 'chrome-extension://' urls -->
  <platform name="android">
    <source-file src="src/android/ChromeBootstrap.java" target-dir="src/com/google/cordova" />
    <source-file src="src/android/ChromeExtensionURLs.java" target-dir="src/com/google/cordova" />

    <js-module src="api/helpers/ChromeExtensionURLs.android.js" name="helpers.ChromeExtensionURLs" />

    <config-file target="res/xml/config.xml" parent="/widget">
      <feature name="ChromeBootstrap">
        <param name="android-package" value="com.google.cordova.ChromeBootstrap"/>
        <param name="onload" value="true"/>
      </feature>
      <feature name="ChromeExtensionURLs">
        <param name="android-package" value="com.google.cordova.ChromeExtensionURLs"/>
        <param name="onload" value="true"/>
      </feature>

      <content src="chrome-extension://ohgfbmefaoadakchflddcopcmphnlcba/chromeapp.html" />
    </config-file>
  </platform>

  <platform name="ios">
    <source-file src="src/ios/ChromeBootstrap.m" />
    <header-file src="src/ios/ChromeBootstrap.h" />
    <source-file src="src/ios/ChromeExtensionURLs.m" />
    <header-file src="src/ios/ChromeExtensionURLs.h" />

    <js-module src="api/helpers/ChromeExtensionURLs.ios.js" name="helpers.ChromeExtensionURLs" />

    <config-file target="config.xml" parent="/widget">
      <feature name="ChromeBootstrap">
        <param name="ios-package" value="ChromeBootstrap"/>
        <param name="onload" value="true"/>
      </feature>
      <feature name="ChromeExtensionURLs">
        <param name="ios-package" value="ChromeExtensionURLs"/>
        <param name="onload" value="true"/>
      </feature>

      <content src="chrome-extension://ohgfbmefaoadakchflddcopcmphnlcba/chromeapp.html" />
      <access origin="chrome-extension://*" />
    </config-file>
  </platform>
</plugin>
